@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);;
}
section {
  position: relative;
  background: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(244, 38%, 16%);
  border-radius: 10px;
}
.card .content {
  max-width: 600px;
  padding: 0px 70px;
}
.content h1,p{
    max-width: 300px;
}
.content h1{
    font-weight: 700;
    font-size: 1.7rem;
}
.content h1 span{
    font-weight: 700;
    color: hsl(277, 64%, 61%);
}
.content p{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}
.image {
  color: hsl(277, 64%, 61%);
  mix-blend-mode: screen;
  max-width: 500px;
}
.image img {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: relative;
}
.attribution {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
